body{
   background-color: lightgrey;
   margin: 5%;
}

.first_Row {
   background-color:darkseagreen;
   border-bottom: 1px whitesmoke solid;
   display: flex;
   border: 1px #1a1a1a solid;
   padding: 10px;
   justify-content: space-between;
}

.second_Row {
   background-color:darkseagreen;
   border-bottom: 1px whitesmoke solid;
   display: flex;
   border: 1px #ccc solid;
   padding: 10px;
   justify-content: space-between;
}

.third_Row {
   background-color:darkseagreen;
   border-bottom: 1px whitesmoke solid;
   display: flex;
   border: 1px #ccc solid;
   padding: 10px;
   justify-content: space-between;
}

.box_1 {
   
   flex: 1;
   flex-basis: 50%;
   border: 1px #ccc solid;
}

.box_2 {
   flex: 1;
   flex-basis: 50%;
   border: 1px #ccc solid;
}

.box_3 {
   flex: 1;
   flex-basis: 100%;
   border: 1px #ccc solid;
}

.box_4 {
   flex-basis: 50%;
}

.box_5 {
   flex-basis: 50%;
}

.box_6 {
   flex-basis: 33%;
   /* background-color: purple; */
}

.box_7 {
   flex-basis: 33%;
   /* background-color: purple; */
}

.box_8 {
   flex-basis: 33%;
   /* background-color: purple; */
}


#picture {
   /* margin-top: 5%;
   margin-bottom: 5%; */
   max-width: 75%; 
   height: 100%;
   float: left;}
/* 
.container1 { 
    margin-bottom: 10px;
    border: 2px solid whitesmoke;
    height: 1000 px; 
    /* background: rgb(194, 107, 31);     */
    /* display: flex; */
    /* justify-content: space-between; main axis */
    /* align-items: flex-end;  cross axis */
 /* } */ 
 /* .section1 { */
      /* background: rgb(194, 107, 31);  */
      /* border: 1px solid whitesmoke;
      width: 100%;
      height: 100%;
      text-align: left;
      font-size: 20px;
 } */

 /* #introduction { 
      background-color: rgb(189, 119, 57);
      
}
 #information { 
      background-color: rgb(189, 119, 57);
      flex-grow: 5; 
   }
 #summary { 
      background-color: rgb(189, 119, 57); 
      flex-grow: 10;
   } */
/* 
 .container2 { 
    margin-top: 10px;
    border: 2px solid whitesmoke;
    height: 1000 px; 
    background: rgb(194, 107, 31);  
    display: flex;
    justify-content: space-between; /*main axis*/
    /* align-items: flex-end;  cross axis */
 /* }
 .section2 {
    border: .1px solid;
    width: 99px;
    height: 99px;
    text-align: center;
    font-size: 30px;
 } */ 


 /* #EmploymentHistory { 
   background-color: rgb(189, 119, 57); 
   border: 1px solid whitesmoke;
   width: 50%;
   height: 100%; 
   text-align: left;
   font-size: 15px;
   }
 #EducationHistory { 
   background-color: rgb(189, 119, 57); 
   border: 1px solid whitesmoke;
   width: 50%;
   height: 100%;
   text-align: left;
   font-size: 15px;}
 
 .container3 { 
    /* height: 500 px;  */
    /* margin-top: 10px;
    border: 2px solid whitesmoke;
    height: 1000 px; 
    background: rgb(194, 107, 31);     
    display: flex; */
    /* justify-content: space-between; /*main axis*/
    /* align-items: flex-end;  cross axis
 } */
 /* .section3 {
    border: .1px solid;
    width: 99px;
    height: 99px;
    text-align: center;
    font-size: 30px; */
 /* } */ 
 /* #ProgrammingSkills { background-color: red; } */
 /* #GraphicSkills { background-color: orange; } */
 /* #LanguageSkills { background-color:beige; } */
 